/* Eien : Colors */

$black: #151515;
$gray-1: #555555;
$gray-2: #999999;
$gray-3: #AAAAAA;
$gray-4: #CCCCCC;
$gray-5: #EEEEEE;
$white: #FFFFFF;
$red: #DB454F;
$orange: #FB8C00;
$yellow: #FBBF44;
$green-1: #8CFF9F;
$green-2: #49E089;
$green-3: #2A9361;
$blue-1: #45BAB9;
$blue-2: #13A4EC;
$blue-3: #283593;
$purple-1: #C171DE;
$purple-2: #70207D;
$champagne: #DDC8C6;