@mixin p(){
  font-family: 'Inter UI', sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 23px;
  max-width: 600px;
}

p,
.p{
  @include p();
}

small,
.small,
.p--small {
  font-size: 13px;
  line-height: 19px;
}

.large,
.p--large {
  font-size: 20px;
  line-height: 24px;
}

.p {
  &--highlight {
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.2em;
    font-weight: 500;
    text-transform: uppercase;
    color: $color-accent;
  }
}

/* Other text */
date {
  @include p();
  font-size: 16px;
  line-height: 22px;
}

br {
  margin-bottom: 0;
}

// Enable small caps if available & fix letter spacing
abbr {
  letter-spacing: 0em;
}

// Address styling not present in IE 8/9/10/11, Safari, and Chrome.
abbr[title],
acronym[title] {
  text-decoration: none;
  border-bottom: 1px dotted;
}

// Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
b,
strong {
  font-weight: 500;
}

// Address styling not present in Safari and Chrome.
dfn {
  font-style: italic;
}

// Prevent `em` and `i` affecting `line-height` in all browsers.
em,
i {
  position: relative;
  vertical-align: baseline;
  line-height: 0;
}

// Address styling not present in IE 8/9.
mark {
  background-color: goldenrod;
  color: black;
}

// Prevent `sub` and `sup` affecting `line-height` in all browsers.
sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

br{
  display: block;
  width: 0;
  height: 0;
  color: transparent;
  font-size: 0;
}
