/* Eien : Typography */

@mixin hn() {
  font-family: $font-primary;
  margin: 0;
  text-rendering: optimizeLegibility;

  a {
    color: inherit;
  }

  strong,
  em {
    font-weight: 900;
  }
}

@mixin h1() {
  @include hn();
  margin: 0;
  font-size: rem-calc(42);
  font-weight: 600;
  line-height: rem-calc(50);
  letter-spacing: 1.5;

  @include breakpoint($large) {
    font-size: rem-calc(92);
    line-height: rem-calc(115);
  }
}

@mixin h2() {
  @include hn();
  font-size: rem-calc(24);
  line-height: rem-calc(30);
  font-weight: 500;

  @include breakpoint($large) {
    font-size: rem-calc(40);
    line-height: rem-calc(50);
  }
}

@mixin h3() {
  @include hn();
  font-size: rem-calc(17);
  line-height: rem-calc(19);
  letter-spacing: 9%;
  font-weight: 400;
  
  @include breakpoint($large) {
    font-size: rem-calc(24);
    line-height: rem-calc(30);
  }
}

@mixin h4() {
  @include hn();
  font-size: rem-calc(17);
  line-height: rem-calc(20);
  font-weight: 400;
  
  @include breakpoint($large) {
    font-size: rem-calc(22);
    line-height: rem-calc(26);
  }
}

@mixin h5() {
  @include hn();
  font-size: rem-calc(14);
  line-height: rem-calc(20);
  letter-spacing: 7%;
  font-weight: 500;

  
  @include breakpoint($large) {
    font-size: rem-calc(18);
    line-height: rem-calc(24);
  }
}

@mixin h6() {
  @include hn();
  font-size: rem-calc(14);
  line-height: rem-calc(20);
  letter-spacing: 7%;
  font-weight: 400;
  text-transform: uppercase;

  
  @include breakpoint($large) {
    font-size: rem-calc(18);
    line-height: rem-calc(26);
  }
}

@mixin p() {
  font-family: $font-primary;
  font-weight: 400;
  font-size: rem-calc(16);
  line-height: rem-calc(21);
}

@mixin small() {
  @include p();
  font-size: rem-calc(14);
  line-height: rem-calc(19);
}

@mixin large() {
  @include p();
  font-size: rem-calc(18);
  line-height: rem-calc(26);
}

@mixin p-highlight() {
  @include p();
  font-size: rem-calc(13);
  line-height: rem-calc(19);
  letter-spacing: 0.1em;
  font-weight: 400;
  text-transform: uppercase;
  color: $var-color-primary;
}