/* Some imports */
@import "../../node_modules/normalize-scss/sass/normalize";

$color-primary: #F6B755;

/* Base */
@import "base/variable";
@import "base/media-queries";
@import "base/typography";
@import "base/heading";
@import "base/text";
@import "base/grid";

/* Components */
@import "component/nav";
@import "component/header";
@import "component/article";

/* Layouts */
@import "layout/home";

body {
  @include grid();
  margin: 0;
  background-color: #222;
  color: white;

  @include breakpoint($medium) {
    display: grid;
    grid-template-columns: 1069fr 272fr;

    * {
      grid-column: 1 / span 1;
    }

    nav {
      grid-column: 2 / -1;
    }
  }
}
