/* Imports */
@import "./../../node_modules/normalize-scss/sass/normalize";
@include normalize();

/* Base */
@import "base/color";
@import "base/variable";
@import "base/media-queries";
@import "base/easing";
@import "base/rem-calc";
@import "base/font";
@import "base/typography";
@import "base/grid";
@import "base/spacer";
@import "base/material-icons";
@import "base/focus";
@import "base/input";

/* WP Blocks */
@import "component/wp-blocks/typography";
@import "component/wp-blocks/separator";
@import "component/wp-blocks/quote";
@import "component/wp-blocks/button";
@import "component/wp-blocks/table";
@import "component/wp-blocks/image";
@import "component/wp-blocks/gallery";
@import "component/wp-blocks/align";


/* Components */
@import "component/text";
@import "component/card";
@import "component/nav";
@import "component/header";
@import "component/article";
@import "component/footer";

/* Layouts */
@import "layout/home";
@import "layout/article";

* {
  box-sizing: border-box;
}

:root {
  --color-primary: #{$color-primary};
}

body {
  @include grid();
  position: relative;
  margin: 0;
  background-color: $black;
  color: white;
  max-width: 100%;
  overflow-x: hidden;

  @include breakpoint($large) {
    width: 80%;
  }
}
