.article {
  &__title {
    grid-column: 1 / -1;

    @include breakpoint($medium) {
      grid-column: 1 / span 2;
    }
  }

  &__content {
    grid-column: 1 / -1;

    @include breakpoint($medium) {
      grid-column: 1 / span 1;
    }
  }
}

/* Article tease */
.article--tease {
  @extend %card;
}