.aside {
  grid-column: 1 / -1;
  margin-left: spacer(-1);
  margin-right: spacer(-1);
  margin-bottom: spacer(3);

  @include breakpoint($large) {
    position: fixed;
    width: 20%;
    height: 100vh;
    top: 0;
    right: 0;
    border-left: 1px solid $var-color-primary;
    margin: 0;
    padding-bottom: 100px;
    transition: border-color 5s $easeOutQuart;

    &::after {
      content: '';
      display: block;
      position: fixed;
      bottom: 0;
      height: 100px;
      width: 100%;
      background: linear-gradient(to bottom, rgba($black, 0%) 0%, $black 60%);
      pointer-events: none;
    }
  }

  &::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: spacer();
  border-bottom: 1px solid $var-color-primary;
  transition: border-color 5s $easeOutQuart;

  &__input {
    @include p-highlight();
    border: none;
    color: $var-color-primary;
    background-color: transparent;
    padding: spacer(1/5) 0;
    flex-grow: 1;
    transition: color 5s $easeOutQuart;

    &::placeholder {
      color: $var-color-primary;
      transition: color 5s $easeOutQuart;
    }
  }

  &__button {
    @include focus();
    position: relative;
    background: none;
    border: none;

    &::before {
      @include material-icons("search");
      color: $var-color-primary;
      transition: color 5s $easeOutQuart;
    }
  }
}

.menu {
  @include breakpoint($large) {
    margin-top: spacer(3);
  }

  &__title {
    @include p-highlight();
    @include focus();
    display: flex;
    align-items: center;
    color: $var-color-primary;
    border-bottom: 1px solid $var-color-primary;
    padding: spacer();
    transition: color 5s $easeOutQuart,
                border-bottom 1s $easeOutQuart;

    &:focus,
    &:active {
      @include breakpoint($large) {
        cursor: initial;
        box-shadow: none;
      }
    }

    &::after {
      @include material-icons("arrow_downward");
      transition: transform 300ms ease-out;
      margin-left: spacer(1/2);

      @include breakpoint($large) {
        display: none;
      }
    }
  }

  &__items {
    @include p-highlight();
    padding-left: spacer();
    display: none;

    @include breakpoint($large) {
      display: block;
    }
  }

  &__item {
    list-style: none;
    margin-bottom: spacer();

    a {
      font-size: rem-calc(13);
      line-height: rem-calc(22);
      color: rgba($var-color-primary, 0.60);
      text-decoration: none;
      transition-delay: none;
      transition: color 5s $easeOutQuart;
    }

  }
}

.menu.open .menu {
  &__title::after {
    transform: rotate(-180deg);
  }

  &__items {
    display: block;
  }
}

a {
  @include focus();
}
