{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body>
		{% include 'partial/header.twig' %}

		<main id="content" role="main" class="content-wrapper">
			{% block content %}
				Sorry, no content
			{% endblock %}
            {{ function('get_search_form') }}
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</main>

		{% block footer %}
			{% include 'footer.twig' %}
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
