{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body>
		{% include 'partial/header.twig' %}

		{% include 'partial/menu.twig' %}
		{# <nav>
			{{ function('get_search_form') }}
		</nav> #}

		<main class="content">
			{% block content %}
				Sorry, no content
			{% endblock %}
		</main>

		{% block footer %}
			{% include 'footer.twig' %}
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
