<footer class="footer">
    <span class="footer__title">{{ site.name }}</span>
    <span class="footer__made">Handcrafted by Suriteka</span>

    <ul class="footer__social">
        <li><a href="https://twitter.com/Suriteka">Twitter</a></li>
        <li><a href="https://github.com/Suriteka">GitHub</a></li>
        <li><a href="https://github.com/Suriteka">Instagram</a></li>
        <li><a href="https://www.facebook.com/Suriteka">Facebook</a></li>
        <li><a href="#">Tumblr</a></li>
    </ul>
</footer>

<script src="{{ site.theme.link }}/build/js/main.js"></script>