{% extends "base.twig" %}

{% block content %}
	<h1 class="content__title">{{ site.name }}</h1>

	{% include 'partial/menu.twig' %}

	<p class="p--highlight">{{ __('Derniers articles', 'latest-articles') }}</p>
	{% for post in posts %}
		{% include 'partial/tease.twig' %}
	{% endfor %}

	{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
{% endblock %}